@model LogFilter
@{
    string title = "User Logs";
    ViewData["Title"] = title;
    <partial name="_titleBar" model="@title" />
}
@{
    var jsCode = ViewBag.filters;
    var jsColumns = ViewBag.columns;
    var jsActions = ViewBag.actions;
}


<div class="row">


    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSection" aria-expanded="false" aria-controls="collapseSection" id="toggleButton">

            <i class="fas fa-chevron-down" id="toggleIcon"></i> Filter
        </button>
    </p>
    <div class="collapse" id="collapseSection">

        <div class="card card-body">
            <form id="filterForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="AdminId"></label>
                    <div class="col-md-2 p-0">
                        <select id="LogvIdFilter" asp-for="AdminIdFilter" asp-items="Html.GetEnumSelectList<FilterOptionN>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="LogvId" asp-for="AdminId" class="form-control form-control-sm" />
                        <input id="LogvIdTo" asp-for="AdminIdTo" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="UserId"></label>
                    <div class="col-md-2 p-0">
                        <select id="UserIdFilter" asp-for="UserIdFilter" asp-items="Html.GetEnumSelectList<FilterOptionN>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="UserId" asp-for="UserId" class="form-control form-control-sm" />
                        <input id="UserIdTo" asp-for="UserIdTo" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="LogAction"></label>
                    <div class="col-md-2 p-0">
                        <select id="LogActionFilter" asp-for="LogActionFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="LogAction" asp-for="LogAction" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="TranDate"></label>
                    <div class="col-md-2 p-0">
                        <select id="TranDateFilter" asp-for="TranDateFilter" asp-items="Html.GetEnumSelectList<FilterOptionN>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="TranDate" type="date" asp-for="TranDate" class="form-control form-control-sm" />
                        <input id="TranDateTo" type="date" asp-for="TranDateTo" class="form-control form-control-sm" />
                    </div>
                </div>
                 
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="UserName"></label>
                    <div class="col-md-2 p-0">
                        <select id="UserNameFilter" asp-for="UserNameFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="UserName" asp-for="UserName" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="FullName"></label>
                    <div class="col-md-2 p-0">
                        <select id="FullNameFilter" asp-for="FullNameFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="FullName" asp-for="FullName" class="form-control form-control-sm" />
                    </div>
                </div>

               

                

                


                <div class="form-group row">
                    <div class="col-md-4 p-0">
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                    <div class="col-md-3 p-0">
                        <button type="button" id="btnSearch" class="btn btn-primary w-100">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">

        <table id="users" class="table table-hover dataTable" style="width:100%">
            <thead>
               
                <tr>
                    <th>Id </th>
                    <th>User Id</th>
                  
                    <th>User Name</th>
                    <th>Full  Name</th>
                    <th>Action</th>
                   <th>Date</th>
                    <th>Admin Id</th>
                </tr>
            </thead>


        </table>
    </div>
</div>
@section Scripts {

    <script>

        $(document).ready(function () {
            var table = $('#users').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Manager/FilterLogs",
                    "type": "POST",
                    "datatype": "json",
        @Html.Raw(jsCode)
                                                },
            "columnDefs": [{
                "targets": '_all',
                "className": 'dt-center'
            }],
        @Html.Raw(jsColumns),
            "pageLength": 10, // Default page length
            "lengthMenu": [[5, 10, 15, 20], [5, 10, 15, 20]],

            "dom": "<'row'<'col-12'B>>" + // Row for buttons, full width
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" + // Row for lengthMenu and search
            "<'row'<'col-12'tr>>" + // Row for the table, full width
        "<'row'<'col-sm-12 col-md-7'i><'col-sm-12 col-md-5'p>>", // Row for info and paging, both on the same row

            "buttons": [
            'csv',
            'pdf',
            'excel',
            'print',
            'copy',
            {
                extend: 'colvis',
                text: 'Column Visibility'
            },
            {
                extend: 'colvisRestore',
                text: 'Restore'
            }
        ]
                       });

        @Html.Raw(jsActions)

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    document.getElementById('btnSearch').click();
                }
            });


        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userIdFilter = document.getElementById('UserIdFilter');
            const userIdTo = document.getElementById('UserIdTo');
            const logvIdFilter = document.getElementById('LogvIdFilter');
            const logvIdTo = document.getElementById('LogvIdTo');
            const tranDateFilter = document.getElementById('TranDateFilter');
            const tranDateTo = document.getElementById('TranDateTo');
            function toggleUserIdTo() {
                if (userIdFilter.value === '6') { // Assuming 6 corresponds to 'Between'
                    userIdTo.style.display = 'block';
                } else {
                    userIdTo.style.display = 'none';
                }
            }
            function togglelogvIdTo() {
                if (logvIdFilter.value === '6') { // Assuming 6 corresponds to 'Between'
                    logvIdTo.style.display = 'block';
                } else {
                    logvIdTo.style.display = 'none';
                }
            }
            function toggletranDateTo() {
                if (tranDateFilter.value === '6') { // Assuming 6 corresponds to 'Between'
                    tranDateTo.style.display = 'block';
                } else {
                    tranDateTo.style.display = 'none';
                }
            }
            toggleUserIdTo()
            togglelogvIdTo();
            toggletranDateTo()
            // Add event listener to toggle the visibility when the value changes
            userIdFilter.addEventListener('change', toggleUserIdTo);
            logvIdFilter.addEventListener('change', togglelogvIdTo);
            tranDateFilter.addEventListener('change', toggletranDateTo);
            
        });
    </script>
}
