

            <!-- Dropdown Button Group with Proper Positioning -->
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Go to
                </button>
                <ul class="dropdown-menu" style="margin-top: 0px; padding: 0;">
                    <li><a class="dropdown-item" href="/Admin/ResetPassword">Reset Password</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/Teacher/GetClasses">Classes</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/Teacher/GetStudents">Students</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/log/GetLog">Log</a></li>
                </ul>
            </div>
