@model AdminUserDto
 
@{
    string title = "Generate Admin Users";
    ViewData["Title"] = title;
    <partial name="_titleBar" model="@title" />
}

<div class="row">
  
    <div class="col-md-6">
        <form asp-action="GenAdminCodes">
            <div class="form-group row">
                <label class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div>

           
            <div class="form-group row">
                <label for="PatchDesc" class="col-md-4 col-form-label">Patch Description:</label>
                <div class="col-md-8">
                    <input asp-for="PatchDesc" class="form-control" />
                    <span asp-validation-for="PatchDesc" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row">
                <label for="NumberOfCodes" class="col-md-4 col-form-label">Number of Codes:</label>
                <div class="col-md-8">
                    <input asp-for="NumberOfCodes" class="form-control" />
                    <span asp-validation-for="NumberOfCodes" class="text-danger"></span>
                </div>
            </div>

         

           

            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary btn-block">Generate</button>
                    <a asp-action="GenAdminCodes" class="btn btn-primary btn-block">New</a>

                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="SearchCode">Search</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


